# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Build
dist/
dist-ssr/
build/

# Editores / SO
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln

# Docker
*.pid

# Prisma (mantém migrations versionadas, ignora apenas gerado localmente se aplicável)